.banner {
  background: url("../images/jt.jpg") center center;
  height: 60vh;
  position: relative;
}

.banner__info {
  background-color: black;
  color: white;
  padding-top: 20vh;
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: #3d087b !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: white !important;
}

.banner__info > button {
  background-color: #3d087b;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: white;
  color: #3d087b;
}

.banner__info > h5 {
  margin-top: 10px;
}
